* {
  font-family: 'Mabry Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "blocks/regmodal";
@import "blocks/thanksmodal";
@import "blocks/presets";

@import "base/media";
@import "base/variables";



